<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BROWSER" value="Chrome"/>
    <!--<add key="URL" value="https://www.google.com"/>-->
    <!--<add key="URL" value="https://euromed.academy/"/>-->
    <add key="URL" value="https://demo.creativeitem.com/bayanno/login"/>
    <add key="Username" value="admin@example.com"/>
    <add key="Password" value="1234"/>
    
  </appSettings>
</configuration>